* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



@font-face {
  font-family: "Quentin";
  src: url(./font/Quentin.otf);
}
@font-face {
  font-family: "Basic";
  src: url(./font/Basic\ Light.ttf);
}
html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 70px;
}
.header .logo {
  width: 30%;
  height: 50px;
}
.header .navbar {
  height: 100%;
  font-family: Basic;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.header .nav {
  display: flex;
  justify-content: flex-end;
  width: 1400px;
  height: 100px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 10px;
}

.main {
  height: 30vh;
  width: 100%;
  color: #fff;
  font-family: Quentin;
  text-shadow: 0 0 50px #000, 0 0 10px #8A8D8E, 0 0 10px #95B28D;
  text-align: center;
  background-image: url(./img/cazo-cerezas-sobre-mesa-madera-n.jpg);
  background-size: cover;
  background-position: center;
}
.main .origen {
  font-family: Quentin;
  font-size: 18px;
  padding: 50px 20px 20px 70px;
}
.main .btn {
  height: 40px;
  width: 110px;
  background-color: #95B28D;
  font-family: Basic;
  font-size: 12px;
  margin: 40px 5px 5px 10px;
}
.main .btn :hover {
  color: #000;
  text-decoration: none;
}
.main .btn .h5 {
  font-family: Basic;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 15px #fff;
  font-weight: bold;
  text-align: center;
  color: #000;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  padding-top: 5px;
}

.sec {
  background-color: #fff;
  height: 25vh;
  text-align: center;
  font-family: Quentin;
  font-weight: lighter;
  font-size: 25px;
  color: #95B28D;
  padding: 100px 50px 0px 50px;
}

.cont1 {
  background-color: #fff;
  background-size: cover;
  width: 100%;
  height: 20%;
  background-repeat: no-repeat;
  text-align: justify;
  font-family: Basic;
  font-size: 20px;
  line-height: 30px;
  color: #303135;
  padding: 0px 50px;
}

.cont2 {
  background-color: #fff;
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
  text-align: center;
  font-family: #fff;
  font-size: 30px;
  padding: 0px 20px 10px 30px;
}

.ratio {
  margin-top: 0px;
}

.main11 {
  width: auto;
  background-color: #000;
}

.galeria {
  min-height: 300px;
  width: auto;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 20% 1fr 1fr;
  grid-template-rows: 45px 45px 45px;
  grid-gap: 0px;
  grid-template-areas: "img1 img3 img5 img5" "img1 img3 img5 img5" "img1 img4 img5 img5" "img1 img4 img5 img5" "img1 img2 img5 img5" "img1 img2 img5 img5" "img1 img2 img5 img5";
}

.img {
  background-size: cover;
  background-position: center;
}

.img1 {
  grid-area: img1;
  background-image: url(img/6.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.img2 {
  grid-area: img2;
  background-image: url(img/1\ \(1\).jpg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.img3 {
  grid-area: img3;
  background-image: url(img/4.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.img4 {
  grid-area: img4;
  background-image: url(img/car.jpg);
  background-size: 90%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.img5 {
  grid-area: img5;
  background-image: url(img/3\ \(1\).jpg);
}

.img6 {
  grid-area: img6;
  background-image: url(img/5.jpg);
}

.main3 {
  height: 70vh;
  width: 100%;
  background-color: #303135;
  background-image: url(img/chacra.jpg);
  background-size: cover;
  background-position: center;
}

.main4 {
  height: 30vh;
  width: 100%;
  color: #fff;
  font-family: Quentin;
  text-align: center;
  background-image: url(img/FONDO\ MANOS.jpg);
  background-size: cover;
  background-position: center;
}
.main4 .encontramos {
  text-align: center;
  font-size: 35px;
  font-weight: lighter;
  padding-top: 70px;
}

.preguntas {
  font-family: Basic;
  padding: 0px 10px 0px 10px;
  margin: 2px 25px 2px 20px;
}

.card {
  font-family: Basic;
  font-size: 20px;
  color: #303135;
  font-weight: lighter;
}
.card .h2 {
  font-family: Quentin;
  text-align: center;
  font-size: 30px;
  margin: 30px 20px 70px 20px;
}

.whatsapp-fidex img {
  z-index: 999;
  width: 60px;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 23px;
  animation-name: animWhatsapp;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin: 5px 5px 15px 10px;
}

.subir {
  position: fixed;
  right: 40 px;
  bottom: 60px;
  color: #8A8D8E;
  font-weight: bold;
  background-color: #992F59;
  padding: 10px;
  font-size: 30px;
  margin: 800vh;
}

.subir :hover {
  color: #000;
}

.btn2 {
  background-color: #992F59;
  font-family: Basic;
  font-weight: bold;
  font-size: 15px;
  margin: 10px 5px 5px 200px;
}

.mapa {
  font-family: Basic;
  color: #8A8D8E;
  width: 100%;
  margin: 30px 5px 20px 50px;
}

.casa {
  font-family: Basic;
}

.pie {
  text-align: justify;
  width: 100%;
  background-color: #303135;
  padding: 20px;
}
.pie .grupo-1 {
  text-align: center;
  padding: 5px;
  font-family: Basic;
  color: #fff;
  font-size: 9px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  grid-gap: 170px;
  grid-template-columns: repeat(3, 1fr);
  padding: 45px 0px;
}
.pie .grupo-1 .box figure {
  font-family: Quentin;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.pie .grupo-1 img {
  width: 60px;
}
.pie .grupo-1 .box h6 {
  margin-bottom: 25px;
  color: #95B28D;
  font-family: Basic;
  font-size: 14px;
}
.pie .grupo-1 .box p {
  margin-bottom: 10px;
  margin-top: 2px;
  padding: 5px;
}
.pie .grupo-2 {
  color: #fff;
  font-family: Basic;
  font-size: 10px;
  text-align: center;
  padding: 15px;
}

@keyframes animWhatsapp {
  0% {
    transform: scale(1.1) rotate(0deg);
  }
  50% {
    transform: scale(0.85, 0.85) rotate(5deg);
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 320px) {
  .pie .grupo-1 {
    text-align: center;
    padding: 5px;
    font-family: Basic;
    color: #fff;
    font-size: 9px;
    width: 50%;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 0px;
  }
}
@media screen and (max-width: 800px) {
  .pie .grupo-1 {
    text-align: center;
    padding: 5px;
    font-family: Basic;
    color: #fff;
    font-size: 9px;
    width: 50%;
    grid-gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 0px;
  }
}
@media only screen and (min-width: 800px) {
  .pie .grupo-1 {
    display: grid;
  }
}
@media only screen and (min-width: 320px) {
  .origen {
    font: size 30px;
  }
  .header {
    width: 100%;
    height: 70px;
  }
}
@media only screen and (min-width: 326px) {
  .header {
    width: 100%;
    height: 70px;
  }
}
@media only screen and (min-width: 361px) {
  .btn {
    font-size: 10px;
    margin: 10px 5px 5px 180px;
  }
}
@media only screen and (min-width: 437px) {
  .btn {
    font-size: 10px;
    margin: 10px 5px 5px 150px;
  }
}
@media only screen and (min-width: 470px) {
  .btn {
    font-size: 10px;
    margin: 10px 5px 5px 250px;
  }
}
@media only screen and (min-width: 480px) {
  .iframe {
    width: 360px;
    height: 315px;
  }
  .whatsapp-fidex img {
    margin: 5px 5px 5px 400px;
  }
}
@media only screen and (min-width: 488px) {
  .main .origen {
    padding: 40px 10px 0px 120px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 570px) {
  .galeria {
    grid-template-rows: 45px 45px 45px 45px;
  }
  header {
    font-size: 30px;
  }
  .main2 {
    height: 50vh;
  }
}
@media only screen and (min-width: 597px) {
  .btn {
    font-size: 10px;
    margin: 10px 5px 5px 400px;
  }
  .origen {
    padding: 80px 10px 0px 120px;
    font: size 40px;
  }
}
@media only screen and (min-width: 600px) {
  .main {
    height: 45vh;
  }
  .main .origen {
    padding: 80px 10px 0px 120px;
    font-size: 30px;
  }
  .galeria {
    grid-template-rows: 45px 45px 45px 45px 45px;
  }
  header {
    height: 125px;
  }
  .contacto {
    margin: 500px 60px 10px 1000px;
  }
  .whatsapp-fidex img {
    margin: 5px 5px 5px 500px;
  }
}
@media only screen and (min-width: 600px) {
  .btn {
    font-size: 10px;
    margin: 50px 5px 5px 500px;
  }
  .galeria {
    grid-template-rows: 100px 50px 70px 70px 100px 50px 50px;
  }
  .nav {
    font-size: 13px;
  }
  .sec {
    font-size: 30px;
  }
  .iframe {
    width: 550px;
    height: 415px;
  }
}
@media only screen and (min-width: 700px) {
  .main2 {
    height: 60vh;
  }
  .origen {
    font-size: 40px;
  }
}
@media only screen and (min-width: 766px) {
  .origen {
    font-size: 40px;
    padding: 85px 10px 20px 150px;
  }
  .whatsapp-fidex img {
    margin: 5px 5px 5px 600px;
  }
}
@media only screen and (min-width: 768px) {
  .header .navbar {
    font-size: 15px;
  }
}
@media only screen and (min-width: 796px) {
  .origen {
    font-size: 50px;
    padding: 90px 10px 20px 170px;
  }
}
@media only screen and (min-width: 976px) {
  .origen {
    font-size: 50px;
    padding: 100px 10px 20px 240px;
  }
}
@media only screen and (min-width: 1000px) {
  header {
    font-size: 30px;
    height: 150px;
  }
  .sec {
    font-size: 40px;
  }
  .main .origen {
    font-size: 40px;
  }
  .barra a {
    font-size: 15px;
  }
  .main2 {
    height: 80vh;
  }
  .whatsapp-fidex img {
    margin: 5px 5px 5px 900px;
  }
}
@media only screen and (min-width: 1024px) {
  .main .btn {
    font-size: 15px;
    margin: 50px, 5px 20px 400px;
  }
  .whatsapp-fidex img {
    margin: 5px 5px 5px 950px;
  }
}
@media only screen and (min-width: 1045px) {
  .origen {
    padding: 135px 10px 20px 270px;
  }
  .btn {
    font-size: 10px;
    margin: 50px 5px 5px 750px;
  }
}
@media only screen and (min-width: 1200px) {
  .whatsapp-fidex img {
    margin: 5px 5px 5px 1100px;
  }
}
@media only screen and (min-width: 1400px) {
  .whatsapp-fidex img {
    margin: 5px 5px 5px 1300px;
  }
}/*# sourceMappingURL=estilos.css.map */